input {
  position: relative;
  border: none;
  border-bottom: 1px solid grey;
  margin-top:2vh;
}
#infix_expression {
  display: none;
  margin-left: 37%;
  font-size: 1.5vw;
  text-align: center;
}
#questionid1 {
  position: relative;
  padding-top: 2%;
  padding-left: 22%;
}
#output,#questionid2,#questionid3 {
  position: relative;
  float: left;
  margin:auto;
}
#output::after,#questionid2::after,#questionid3::after {
  float: none;
}
#questionid2{
  padding-left: 18%;
  padding-top:3%;
}
#questionid3{
  padding-left:15%;
  padding-top:3%;
}
#infix_to_postfix_1, #infix_to_postfix_2{
  position: relative;
  padding-top:9%;
  padding-left:16%
}
#controller{
  padding-left:33%;
  padding-top:12%;
}
button[class*=':unselected'] {
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 50%;
  transform: rotate(0deg);
  position: relative;
  margin-left: 2%;
  height: 3vw;
  width: 3vw;
  box-shadow: 2px 2px;
}
button[class*=':selected'] {
  background-color: #96A0A3;
  border-radius: 50%;
  transform: rotate(0deg);
  position: relative;
  margin-left: 2%;
  height: 3vw;
  width: 3vw;
  box-shadow: 2px 2px;
}
#comments {
  position: fixed;
  left: 28%;
  height: 10vh;
  padding: 2vw;
  width: 30vw;
  font-family: arial;
  font-size: 1.5vw;
  text-align: center;
}
